@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f3f4f6;
    color: #111827;
    overflow: hidden;
    touch-action: pan-y;
    font-family: system-ui, -apple-system, sans-serif;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 20px);
  }
}
